*{
    font-family: 'Raleway', sans-serif;
} 

header {
    display: flex;
    justify-content: space-between;
}

ul {
    display:flex ;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    gap: 25px;
}

.boton{
    border: 0px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(243, 62, 62);
    margin: 10px;
    padding: 10px;
}

.video-presentacion{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;

}

.presentacion{
    position:absolute;
    top:calc(50% - 100px);
    left: 5%;
    z-index: 2;
}

.logo{
    display: flex;
    justify-content: flex-start;
}

.sub-logo{
    padding: 0;
    margin: 0;
}

.sub-logo *{
    padding: 0;
    margin: 0;
}

.links-interes {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 10px;
    
}

.interes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid black;
}

.interes a{
    text-decoration: none;
    color:red;
    font-weight: bold;
}

/* .interes i{
    width: 50px;
}*/

.noticias{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.contacto{
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.suscripcion{
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    top: 30%;
    left: 75%;
    width: 200px;
    height: 400px;
    background-color: rgba(255,255 , 255, 0.8);
    z-index: 1;
}

.contacto-pie{
    display: flex;
    justify-content: center;
    gap: 15px;
}

.pie{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 20px;
    background: rgb(56, 55, 55);
    color: white;
}