/* General*/
*{
    font-family: 'Raleway', sans-serif;
} 

body{
    margin: 0;
}



/* header*/

header {
    display: flex;
    justify-content: space-between;
}
.logo{
    display:flex;
    justify-content: flex-start;
    gap: 5px;
}
.logo img{
    width: 60px;
}
.sub-logo h2{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 26px;
    color: #dc4b57;
}
.sub-logo h3{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #228f58;
}

.sub-logo p{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color:#626262;
}

.sub-logo *{
    margin: 0;
}


.barra ul {
    display:flex ;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    gap: 25px;
    color: #228f58;
}

.barra ul li{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.barra ul li i{
    font-size: 22px ;
}

/*Precentacion y video*/
.video-presentacion{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    
}

#rojito{
    color: #dc4b57;
}

.degradado{
    background: linear-gradient(to right, rgb(255, 255, 255), #00000000 );
    position: absolute;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
}

.presentacion h1 {
    color: #228f58;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
}

.presentacion p{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    color: #228F58;
}

.presentacion button{
    border: 0px;
    border-radius: 9px;
    background-color: #dc4b57;
    width: 420px;
    height: 63px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.presentacion{
    position:absolute;
    top:calc(50% - 100px);
    left: 5%;
    z-index: 3;
}


.links-interes {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 68px;
    padding-bottom: 68px;
    margin-top: -115px;
    z-index: 3;
    
}

.interes {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.253);
    width: 358px;
    height: 415px;
}

.interes a{
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 150%;
    color: #dc4b57;
}

.interes i{
    font-size: 44px;
    color: #228f58;
}


.interes h2{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    color: #228f58;
}

.interes p{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 150%;
}

.noticias{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 68px;
}

.links-noticias{
    position: relative;
    z-index: 1;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.253);
    width: 358px;
    height: 415px;
}
.links-noticias p{
    position: absolute;
    z-index: 2;
    top: 55%;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 150%;
}

.links-noticias h3{
    position: absolute;
    z-index: 3;
    top: 30%;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    text-align: center; 
    color: #FFFFFF;
    
}

.links-noticias img{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}


.contacto{
    position: relative;
}

.fondo-contacto{
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;

}

.suscripcion{
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    top: 50%;
    transform: translateY(-50%);
    left: 75%;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.5) 100%);
    z-index: 1;
    text-align: center;
    padding: 70px;
}

.suscripcion h2{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #228F58;
}

.suscripcion p{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #228F58;
}

.suscripcion label{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #228F58;
}

.suscripcion input{
    width: 312px;
    height: 53px; 
    background: #FFFFFF;
    border: 1px solid #228F58;
    border-radius: 4px;
    box-sizing: border-box;

}

.suscripcion button{
    width: 312px;
    height: 53px;
    background: #DC4B57;
    border-radius: 4px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    border: 0;
}

.contacto-pie{
    display: flex;
    justify-content: center;
    gap: 15px;
    font-size: 22px ;
}

.pie{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 20px;
    background: rgb(56, 55, 55);
    color: white;
}

.pie p{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}