li {
    
    font-size: small;
    color: rgb(255, 255, 255);
    border-left: 1px solid rgb(255, 255, 255);
    border-right: 1px solid rgb(255, 255, 255);
    
}

ul {
    display:flex ;
    justify-content: center;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); 
    list-style-type: none;
    padding: 0;
}

#izquierda {
    border-left: 0px;
}
#derecha{
    border-right: 0px;
}